---
- name: Include customer specific variables
  ansible.builtin.include_vars: "{{ var_file }}"

- name: Set sysctl config for cilium
  ansible.posix.sysctl:
    name: "{{ item.name }}"
    value: "{{ item.value }}"
    state: present
  with_items:
    - { name: vm.panic_on_oom, value: "0" }
    - { name: vm.overcommit_memory, value: "1" }
    - { name: kernel.panic, value: "10" }
    - { name: kernel.panic_on_oops, value: "1" }

- name: Restart sysctl service
  ansible.builtin.systemd:
    name: systemd-sysctl
    daemon_reload: true
    state: restarted
    enabled: true

- name: Add the etcd user
  ansible.builtin.user:
    name: etcd
    comment: etcd user
    state: present
    system: true
    shell: /sbin/nologin
    create_home: false

- name: Create RKE2 config directory
  ansible.builtin.file:
    path: /etc/rancher/rke2/
    state: directory
    mode: "0755"

- name: Copy registry conf to drop-in directory
  ansible.builtin.template:
    src: registries.yaml.j2
    dest: /etc/rancher/rke2/registries.yaml
    mode: "0644"

- name: Copy RKE2 conf to drop-in directory
  ansible.builtin.template:
    src: config.yaml.j2
    dest: /etc/rancher/rke2/config.yaml
    mode: "0644"

- name: Check if RKE2 has already run
  ansible.builtin.stat:
    path: /var/lib/rancher/rke2/server/tls/server-ca.crt
  register: rke2_server_ca

- name: Init RKE2 cluster if needed
  ansible.builtin.include_tasks: init.yml
  when: not rke2_server_ca.stat.exists and inventory_hostname == groups['master'][0]

- name: Check if node password exists
  ansible.builtin.stat:
    path: /etc/rancher/node/password
  register: rke2_node_pwd

- name: Join to cluster if needed
  ansible.builtin.include_tasks: join.yml
  when: not rke2_node_pwd.stat.exists and inventory_hostname != groups['master'][0]

- name: Create Kubernetes config directory
  ansible.builtin.file:
    path: .kube/
    state: directory
    mode: "0755"

- name: Replace 127.0.0.1 with master_ip
  ansible.builtin.replace:
    path: "{{ kubeadmin_config }}"
    regexp: "127\\.0\\.0\\.1"
    replace: "{{ master_ip }}"

- name: Copy admin.conf to Home directory
  ansible.builtin.copy:
    src: "{{ kubeadmin_config }}"
    dest: .kube/config
    owner: "{{ ansible_user | default(ansible_user_id) }}"
    group: "{{ ansible_user | default(ansible_user_id) }}"
    mode: "0755"
    remote_src: true

- name: Copy kubeconfig file
  ansible.builtin.fetch:
    src: "{{ kubeadmin_config }}"
    dest: ./../Ansible/.terraform/{{ workspace }}/kubeconfig
    flat: true
  run_once: true

- name: Copy kubeconfig file for user
  ansible.builtin.fetch:
    src: "{{ kubeadmin_config }}"
    dest: ../kubeconfigs/{{ workspace }}/kubeconfig
    flat: true
  run_once: true
