---

- name: cilium | Check if Cilium-CLI already installed
  ansible.builtin.command:
    cmd: cilium version
  register: cilium_cli_result
  ignore_errors: true
  changed_when: false

- name: cilium | Fail if cilium cli version is undefined
  ansible.builtin.fail:
    msg: cilium cli version is undefined
  when: cilium_cli_version == "undefined"

- name: cilium | Install Cilium-CLI
  ansible.builtin.include_tasks: cilium_cli.yml
  when: cilium_cli_result is failed

- name: cilium | Check if Cilium already installed
  ansible.builtin.shell:
    cmd: KUBECONFIG=./.kube/config cilium status --wait --wait-duration 5s 2>/dev/null 1>/dev/null
  register: cilium_install_result
  ignore_errors: true
  changed_when: false
  args:
    executable: /bin/bash

- name: cilium | Install Cilium CNI Plugin in Cluster
  ansible.builtin.include_tasks: cilium_init.yml
  when: cilium_install_result is failed
