---
- name: join | Join to K3s cluster
  ansible.builtin.shell: |
    set -o pipefail && curl -sfL https://get.k3s.io | INSTALL_K3S_VERSION="{{ k3s_versions | last }}" \
            K3S_URL=https://{{ hostvars[groups['master'][0]].inventory_hostname }}:6443 K3S_TOKEN={{ hostvars[groups['master'][0]].token.stdout }} sh -
  retries: 5
  environment:
    no_proxy: $no_proxy,.svc,.svc.cluster.local
  notify:
    - Recreate kube-dns
  register: join_cluster
  args:
    executable: /bin/bash
